*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;  /*para q los elementos se muestren d forma horizontal*/
    background-color: rgba(220, 220, 220);
    height: 150px;
    justify-content: space-between;
    align-items: center;
    

}

.logo{
    display: flex;
    height: 75;
    font-family: 'Aboreto', cursive;
    letter-spacing: 6px;
    align-items: center; /*centro todo lo q esta dentro de .logo osea centro la imagen y el titulo*/
}

.logo img{
    height: 40px;
    width: 50px;
    margin-right: 20px; /*le pongo el margen de 15 px para separar del titulo */
    margin-left: 15px;
}









a{
    text-decoration: none;  /*para scarle el subrayado q tienen los links*/
    color: black;
}

nav a{
    position: relative;
    display: inline-block;
    font-family: 'Gupter', serif;
    font-size: 25px;
    padding: 10px 15px;
    border-bottom: 4px transparent;
    transition: 0.5s;
}

nav a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: grey;
    transition: 0.5s;
}


nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: grey;
    transition: 0.5s;
    position: absolute;
    will-change: width;
}


nav a:hover::after{  /*para cuando le pasamos el cursor por encima*/
color: grey;
border-bottom: 4px solid;
width: 100%;
right: 0;
}


/*------------------------------------------------------------*/


.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.caja{
    margin: 40px;
    
}

.caja p{
    text-align: center;
    font-size: 20px;
    font-family: 'Gupter', serif;
}

.caja img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

/*--------------------------------------Media Queries-------------------------------*/


@media screen and (max-width:768px) {  /*medida para tablet*/

    header{
        display: block;  /*para q los elementos se muestren d forma horizontal*/
        background-color: rgba(220, 220, 220);
        height: 150px;
        justify-content: space-between;
        align-items: center;
        
    
    }
    
    .nav-link{
        background:rgba(220, 220, 220);
        padding: 10px 30px;
        display: block;  
        text-align: center;     
    }
       
}

@media screen and (max-width:576px) {  /*medida para celular*/

    
header{

    display: block;  /*para q los elementos se muestren d forma horizontal*/
    background-color: rgba(220, 220, 220);
    height: 150px;
    justify-content: space-between;
    align-items: center;
    

}

    .nav-link{
        background:rgba(220, 220, 220);
        padding: 10px 30px;
        display: block;
        text-align: center;       
    }





}

